source [find interface/stlink.cfg]

# STLink HLA backend + SWD transport
transport select hla_swd

# 100 KHz STLing speed
adapter speed 100

# reset_config srst_only srst_nogate connect_assert_srst

source [find target/stm32f4x.cfg]
